html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  text-decoration: none; /* 移除下划线 */
  color: inherit; /* 继承父元素的颜色 */
  /* 移除其他可能的默认样式 */
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

/* 清除 :hover 和 :active 样式 */
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

/* 清除 :focus 样式 */
a:focus {
  outline: none;
}

* {
  transition: background-color 0.3s;
}
