:root {
    --primary-color: #2f2f2f; /* 深灰色 */
    --secondary-color: #1abc9c; /* 青绿色 */
    --background-color: #121212; /* 深黑色 */
    --content-background-color: #1e1e1e; /* 深灰色 */
    --accent-color: #e74c3c; /* 红色 */
    --text-color: #e0e0e0; /* 浅灰色 */
    --secondary-text-color: #b0b0b0; /* 中灰色 */
}

html,
body {
    padding: 0;
    margin: 0;
    background: var(--content-background-color);
    color: var(--text-color);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


a {
    text-decoration: none; /* 移除下划线 */
    color: inherit; /* 继承父元素的颜色 */
    /* 移除其他可能的默认样式 */
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
}

/* 清除 :hover 和 :active 样式 */
a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

/* 清除 :focus 样式 */
a:focus {
    outline: none;
}