.homePage {
  display: flex;
  align-items: center;
  justify-content: center;

  .homePage__content {
    width: calc(1366px - 32px);
    display: flex;
    gap: 16px;
    padding: 16px;

    .homePage__aside {
      width: 300px;
    }

    .homePage__main {
      flex: 1;
    }
  }
}
