.header {
  display: flex;
  justify-content: center;
  background-color: var(--main-color);
  position: sticky;
  top: 0;
  .header__content {
    flex: 1;
    height: 75px;
    max-width: calc(1366px - 32px);
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
